<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<h1>Users</h1>

<% if current_user and current_user.super_admin? %>
<table id="posts-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th>Confirmed</th>
      <th>Locked</th>
      <th>Failed Attempts</th>
      <th>Unlock Token</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr >
        <td><%= link_to user.name,users_editprofile_path(:user_id => user.id,:resource_name => "User") %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= user.locked_at %></td>
        <td><%= user.failed_attempts %></td>
        <td><%= user.unlock_token %></td>
        <td><%= user.access_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<br />
  <h3>This page only viewable by logged in Super Admin</h3>
<% end %>
<br />
<%= link_to 'Back', posts_path %> | <%= link_to 'Add User', posts_path %>

<br />
<script>
  $(function(){
    $("#posts-table").dataTable();
  });
</script>
