<table class="posts" style="table-layout: fixed; width: 80%">
<% @posts.each do |post| %>
<h2 class="entry-title"><%= link_to post.title, post %></h2>

<div class="entry-meta">
  <span class="meta-prep meta-prep-author">Posted on</span> <%= post.updated_at.to_formatted_s(:long) %>  <span class="meta-sep">by</span> <span class="author vcard"><%= link_to post.user.name, user_posts_path(post.user)  %> with: <%= link_to "#{post.comments.count}",post %> comments </span>			</div><!-- .entry-meta -->

    <div class="entry-content">
      <%=  post.body %>
</div>
<br>
<% end %>
</table>
