<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<h1>Posts</h1>

<ul style="list-style-type:none;">

    <% @posts.each do |post| %>
     <li> <h3><%= post.title %></h3>
        <%= post.body %>
        <br />
        By: <%= post.user.name %> On: <%= post.updated_at.to_formatted_s(:long) %> <%= link_to "Comments (#{post.comments.count})", post %>
     <br />
    <% end %>
</ul>

<br>


<% if current_user %>
	<%= link_to 'New Post', new_post_path %> <% if current_user.super_admin? %> | <%= link_to 'Admin', users_path %> <% end %>
<% end %>
