<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<h1>Posts</h1>


<% if current_user %>
	<%= link_to 'New Post', new_post_path %> <% if current_user.super_admin? %> | <%= link_to 'Admin', users_path %> <% end %>
<% end %>
<br />
<table class="posts">
<% @posts.each do |post| %>
<tr>
    <td>
        <table>
            <tr><td class="post-title"><%= post.title %></td></tr>
            <tr><td class="post-about"><%= post.updated_at.to_formatted_s(:long) %> By: <%= post.user.name %> with: <%= link_to "#{post.comments.count}",post %> comments </td></tr>
            <tr><td class="post-body"><%= post.body %> </td></tr>
        </table>
    </td>
</tr>
<br>
<% end %>
</table>

