<p id="notice"><%= notice %></p>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<hr/>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<hr/>
<h1>Comments</h1>

<table id="comments-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr >
        <td><%= comment.name %></td>
        <td><%= comment.email %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr/>

<%= link_to 'Add Comment', :controller => 'comments', :action => 'new', :id =>@post.id %>

<script>
  $(function(){
    $("#comments-table").dataTable();
  });
</script>
