<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= @post.user.name %>
</p>

<hr/>
<h1>Comments</h1>

<table id="comments-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr >
        <td><%= comment.post.user.name %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr/>

<% if current_user %>
	<%= link_to 'Add Comment', :controller => 'comments', :action => 'new', :id =>@post.id %> |
	<%= link_to 'Edit Post', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<hr/>

<script>
  $(function(){
    $("#comments-table").dataTable();
  });
</script>
