<script>
   //highlight colors for background and foreground
var highlightColor = "#ffd700";
var highlightFColor = "#ffffff";

//normal colors for background and foreground
var normalColor = "#9999CC";
var normalFColor = "#000000";

//comma delimited list of chosen item values
var str = "";

//Highlight a menu tab
function mouseOver_Color(myObj)
{
    myObj.style.backgroundColor = highlightColor;
    myObj.style.color = highlightFColor;
    myObj.style.cursor = "hand";
}

//Show the normal menu tab
function mouseOut_Color(myObj)
{
    myObj.style.backgroundColor = normalColor;
    myObj.style.color = normalFColor;
    myObj.style.cursor = "default";
}

function disabledMenuClick(menuObj)
{
    alert('This function is not available.');
}

function logout()
{
    <%= link_to destroy_user_session_path, method: :delete %>   
}

function showTaskList()
{
    document.location.href = 'home.jsp';
}


function showBugList()
{
    window.open(
            '<%= ENV["ISSUES_SERVER"] %>',
            '_blank');
}

function showNoteList()
{
    window.open(
            '<%= ENV["NOTES_SERVER"] %>',
            '_blank');

}


function supportCenter(menuObj)
{
    document.location.href = 'http://www.blivenow.com/live/352187325499';
}

</script>
   <table id="header-nav" cellPadding="0" cellSpacing="0" width="100%"  align="left">
                    <tr valign="top" >
                        <td align="right" valign="middle" >
                            <table border="0" cellPadding="2" cellSpacing="4">
                                <tr>
                                    <td>&nbsp;User:&nbsp;&nbsp;</td>
                                    	<td>
                                    	    <% if current_user %>
                                    		<%= link_to edit_user_registration_path do %>
                                    			<%= current_user.name %>
                                    		<% end %>
                                    		<% end %>
                                    	</td>
                                    <td id="userName" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Edit User Prefs"></td>
                                    <td id="home-td"  ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Home"><img alt="Home" src="/assets/Home.gif" width="27" height="25">
                                    </td>
                                    <td id="bugs" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" ONCLICK="showBugList();" nowrap title="Problem Reports"><img alt="Bugs" src="/assets/bug.gif" width="27" height="25">
                                    </td>
                                    <td id="notes" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" ONCLICK="showNoteList();" nowrap title="Notes"><img alt="Notes" src="/assets/Notes.gif" width="27" height="25">
                                    </td>
                                    <td ONCLICK="supportCenter(this);" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Support"><img alt="Support" src="/assets/support.gif"  width="27" height="25">
                                    </td>

                                    <td ONCLICK="disabledMenuClick(this);" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Site Map"><img alt="Site Map" src="/assets/sitemap.gif"  width="27" height="25">
                                    </td>
                                    <td ONCLICK="disabledMenuClick(this);" ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Products"><img alt="Products" src="/assets/products.gif"  width="27" height="25">
                                    </td>
                                    <td ONMOUSEOVER="mouseOver_Color(this);" ONMOUSEOUT="mouseOut_Color(this);" nowrap title="Log Out"><%= link_to destroy_user_session_path, method: :delete do %>
                                    	<%= image_tag("/assets/logout.jpg" ) %>
                                    	<% end %>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
